@page "/"

<div class="container">
    <div class="row">
        <div class="col-3">@this.cronExpression</div>
        <div class="col-6">
            <CronExpressionBuilder OnCronExpressionChanged="@this.CronExpressionBuilderOnCronExpressionChangedHandler" />
        </div>
        <div class="col-3"></div>
    </div>
</div>